@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$inputSearchWidth: 500px;
$navbarMenu: 480px;
$navbarBackgroundColor: hsl(0, 1%, 20%);

@function itemWidth($containerWidth, $quantity){
   @return $containerWidth / $quantity;
}

*, *::before, *::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   height: 160vh;
   background: whitesmoke;
}

.header__div{
   height: 5vh;
   background: hsl(0, 87%, 57%);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.3rem;
   font-weight: bold;
   color: hsla(0, 0%, 100%, 0.849);
   text-align: center;
   text-shadow: 2px 2px gray;
   word-spacing: 6px;
   letter-spacing: 1px;
   line-height: 5vh;
}

.navbar{
   position: sticky;
   display: flex;
   width: 100%;
   height: 10vh;
   top: 0;
   background: $navbarBackgroundColor;
   box-shadow: 0 2px 3px 3px #454545, 0 1px 1px 1px #393737;
   z-index: 100;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   &__a{ 
      text-decoration: none;
      color: white;
      &.logo{
         display: block;
         width: 100px;
         height: 100%;
         // flex-grow: 1;
         .logo__span{
            display: block;
            font-family: monospace;
            text-transform: uppercase;
            &:first-child{
               font-size: 2.8rem;
               font-weight: bolder;
               letter-spacing: 1px;
               text-shadow: 3px -2px rgb(24, 24, 24);
            }
            &:last-child{
               font-size: 1rem;
               text-align: center;
               word-spacing: -6px;
               line-height: 0;
            }
         }
      }
   }

   &__form{
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
   }

   &__input--search{
      width: calc(#{$inputSearchWidth} - 100px);
      height: 35px;
      font-size: 1.0rem;
      border: 2px solid hsl(0, 100%, 51%);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      outline: none;

      &::placeholder{
         padding-left: 5px;
      }
   }

   .formBtn{
      display: flex;
      width: 35px;
      height: 35px;
      background:hsl(0, 100%, 51%);
      border: none;
      border-radius: 0 5px 5px 0;
      outline: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      & > i{
         color: white;
         font-size: 1.3rem;
      }
   }

   &__section{
      height: 100%;
   }

   &__ul{
      display: flex;
      width: 100%;
      height: 100%;
      list-style-type: none;
      justify-content: space-around;

      .navbar__li{
         display: flex;
         width: itemWidth($navbarMenu, 3);
         height: 100%;
         justify-content: center;
         align-items: center;

         .navbar__a{
            width: 100%;
            font-family: 'Poppins', sans-serif;
            font-size: 1.3em;
            font-weight: bold;
            text-transform: capitalize;
            text-align: center;
            letter-spacing: 2px;
         }
         &:hover .navbar__a{
            font-size: 1.4em;
         }
      }
   }

   .buttonContainer{
      display: flex;
      width: itemWidth($navbarMenu, 2);
      height: 100%;
      justify-content: space-around;
      align-items: center;
   }

   &__button{
      width: 50px;
      height: 50px;
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
      &:last-child{
         visibility: hidden;
      }
   }

   &__i{
      color: white;
      font-size: 1.5rem;
   }

   .sub_menu{
      position: absolute;
      display: grid;
      padding: 10px 0;
      width: 100%;
      height: 0;
      top: 10vh;
      left: 0;
      background: $navbarBackgroundColor;
      color: white;
      visibility: hidden;
      z-index: 100;
      transition: visibility .2s ease-out, height .4s cubic-bezier(.61,.36,.87,.4);
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      &__header{
         display: flex;
         grid-column-start: 2;
         grid-column-end: 5;
         grid-row-start: 1;
         grid-row-end: 1;
         justify-content: center;
      } 

      &__img{
         width: 75%;
         height: 40vh;
         grid-column-start: 1;
         grid-column-end: 1;
         grid-row-start: 1;
         grid-row-end: 3;
         visibility: hidden;
         transition: visibility .2s ease-out;
      }

      &__ul{
         position: relative;
         list-style-type: none;
         // &::after{
         //    content: '';
         //    position: absolute;
         //    display: block;
         //    width: 2px;
         //    height: 25vh;
         //    top: 2.5vh;
         //    left: 80%;
         //    background: white;
         // }
         // &:nth-last-child(2)::after{
         //    content: none;
         // }  
      }

      &__h4{
         color: hsl(0, 0%, 100%);
         font-size: 1.2em;
         font-family: 'Poppins', sans-serif;
         font-weight: bold;
         text-decoration: none;
         text-transform: capitalize;
         letter-spacing: 2px;
      }

      &__li{
         display: flex;
         padding: 10px 0;
         justify-content: center;
      }

      &__a{
         color: hsl(0, 0%, 100%);
         font-size: 1.0em;
         font-family: 'Poppins', sans-serif;
         font-weight: 500;
         text-decoration: none;
         text-transform: capitalize;
         // text-align: center;
         letter-spacing: 2px;
         &:hover{
            border-bottom: 2px solid white;
         }
      }
   }

   &__li:hover .sub_menu{
      height: 60vh; 
      visibility: visible;
   }
   
   &__li:hover .sub_menu__img{
      visibility: visible;
   }
}

@media screen and (max-width: 1200px){
   .navbar{
      &__input--search{
         width: calc(#{$inputSearchWidth} - 200px); 
         &::placeholder{
            padding-left: 5px;
         }
      }

      &__section.navbarItems{
         position: absolute;
         width: 0;
         height: 90vh;
         top: 10vh;
         left: auto;
         right: 0;
         background: none;
         transition: all .5s ease;
         &.active{
            width: 50%;
            background: $navbarBackgroundColor;
         }
      }

      &__ul{
         display: block;
         width: 100%;
         list-style-type: none;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         &.active{
            display: flex;
         }
      }

      &__button{
         &:last-child{
            visibility: visible;
         }
      }  
   }
}
