@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f2f2f2;
}

.navbar {
  position: relative;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
  background: #303030;
  -webkit-box-shadow: 0 2px 3px 3px #454545, 0 1px 1px 1px #393737;
          box-shadow: 0 2px 3px 3px #454545, 0 1px 1px 1px #393737;
}

.navbar__a {
  text-decoration: none;
}

.navbar__form {
  position: relative;
  width: 300px;
  height: 100%;
  left: 200px;
}

.navbar__input--search {
  padding: 0px 10px;
  width: 100%;
  height: 40%;
  background: white;
  border: none;
  border-radius: 30px;
}

.navbar__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  top: 50%;
  background: none;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  cursor: pointer;
}

.navbar__button--submit {
  width: 40px;
  height: 40%;
  top: 0;
  left: calc(100% - 40px);
  background: #c40505;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.navbar__button.shopCard {
  right: 120px;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar__button.sign {
  right: 180px;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar__button .buttonSpan {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navbar .hamburger {
  right: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .hamburger__span {
  position: relative;
  display: block;
  width: 70%;
  height: 9%;
  background: white;
}

.navbar .hamburger__span::before, .navbar .hamburger__span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  background: white;
}

.navbar .hamburger__span::before {
  top: 220%;
}

.navbar .hamburger__span::after {
  top: -220%;
}

.main {
  position: relative;
  top: 5vh;
}

.offers {
  margin: 0 auto 0 5%;
  width: 80%;
  height: 80vh;
}

.filter {
  width: 15%;
  height: 100%;
  float: left;
}

.productList {
  width: 60%;
  height: 100%;
  float: left;
}

.filter {
  background: white;
}

.card {
  position: relative;
  margin-bottom: 20px;
  width: 250px;
  height: 410px;
  background: white;
  border: none;
  border-radius: 10px;
}

.card__img {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.card__h5 {
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.0em;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0px;
}

.cardBody__ul {
  margin: 5px auto;
  width: 80%;
}

.cardBody__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: capitalize;
}

.cardBody__p {
  font-family: 'Poppins', sans-serif;
  font-size: .9em;
  font-weight: 500;
  text-align: center;
}

.cardBody__p.price {
  color: #4b854b;
  font-size: 1.8em;
}

.cardBody__s {
  color: red;
  font-size: .5em;
}

.cardBodyBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardBody__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  background: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cardBody__button.buy {
  left: 30%;
  color: #005700;
  border-color: #005700;
}

.cardBody__button.buy:hover {
  border-color: #00a700;
  color: #00b300;
}

.cardBody__button.more {
  left: 35%;
  color: purple;
  border-color: purple;
}

.cardBody__button.more:hover {
  border-color: #a800a8;
  color: #a800a8;
}

.cardBody__span {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.card__footer {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #e0e0e0;
}

.card .tags {
  display: inline;
  color: black;
}

.card__button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: none;
  outline: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/*# sourceMappingURL=style.css.map */
